6_vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehicle">
        <xs:complexType>
            <!-- Per a que els elements continguts siguin opcions a tirar-ne una afegim xs:choice -->
            <xs:choice>
                <xs:sequence>
                    <xs:element name="cotxe"/>
                    <xs:element name="moto"/>
                    <xs:element name="camió"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>